#chi-siamo {
    padding-top: 150px;
}

.employee-container {
    padding: 0 15px;
    img {
        width: 100%;
    }
}


/* 
#lastpost-excerpt {
    max-height: 50px;
    overflow: hidden;
    text-overflow: "......";
} */